<a href="" class="btn btn-primary">Tambah Informasi</a>

{% if info %}
    {% for item in info %}
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h2>
                        {{item.title}}
                    </h2>
                    <p>
                        {{item.info}}
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <hr>
            </div>
    {% endfor %}
{% else %}
    <p>Tidak ada info</p>
{% endif %}