{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    
{% else %}
    <form class="form-signin" method="post" action='' role="form">
      {% csrf_token %}
      <h2 class="form-signin-heading">Please sign in</h2>
      {{form|bootstrap}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
    </form>
{% endif %}

{% endblock %}
