<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lms-index' %}">SMA X</a>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li>Materi</li>
            <li>Kelas</li>
            <li>Ujian</li>
            <li>Pengumunman</li>
          {% else %}
            <li><a href="">Pengumuman</a></li>
            <li><a href="{% url 'quiz_index' %}">Ujian</a></li>
            <li><a href="{% url 'quiz_progress' %}">Progres</a></li>
          {% endif %}
            <li><a href="{% url 'userena_signout' %}">Keluar</a></li>
        {% else %}
          <li><a href="{% url 'userena_signin' %}">Masuk</a></li>
          <li><a href="{% url 'create-account' %}">Daftar</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>