{% load static %}

<div class="head-bar">
  <div class="row">
    <div class="col-md-2">
      <img class="head-logo" src="{% static 'img/sma.png' %}">
    </div>
    <div class="col-md-8 text-head">
      <h1 class="title-header">SMK NEGERI 1 KARAWANG</h1>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lms-index' %}">SMK  Negeri 1 Karawang</a>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li><a href="">Materi</a></li>
            <li><a href="">Kelas</a></li>
            <li><a href="">Ujian</a></li>
            <li><a href="{% url 'information' %}">Pengumuman</a></li>
          {% else %}
            <li><a href="{% url 'information' %}">Pengumuman</a></li>
            <li><a href="{% url 'materi' %}">Materi</a></li>
            <li><a href="{% url 'quiz_index' %}">Ujian</a></li>
            <li><a href="{% url 'quiz_progress' %}">Progres</a></li>
          {% endif %}
            <li><a href="{% url 'userena_signout' %}">Keluar</a></li>
        {% else %}
          <li><a href="{% url 'userena_signin' %}">Masuk</a></li>
          <li><a href="{% url 'create-account' %}">Daftar</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>