<div class="block-content">
    <h3>Daftar Kelas</h3>
    {% if kelas %}
    <div class="row">
        {% for item in kelas %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img alt="300x200" src="http://lorempixel.com/600/200/people" />
                <div class="caption">
                    <h3>
                        {{item.get_name_kelas}}
                    </h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{% url 'follow_kelas' item.id %}">Masuk Kelas</a> 
                    </p>
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>
    {% else %}
        <p>Tidak ada kelas</p>
    {% endif %}
</div>
