<div class="block-content">
    <h3>Daftar Materi <a class='btn btn-small btn-primary' href="{% url 'unfollow_kelas' %}">Keluar Kelas</a></h3>
    {% if materi_by_kelas %}
    <div class="row">
        {% for item in materi_by_kelas %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img alt="300x200" src="http://lorempixel.com/600/200/people" />
                <div class="caption">
                    <h3>
                        {{item.pelajaran}}
                    </h3>
                    <hr>
                    <h4>
                        {{item.judul}}
                    </h4>
                    <p>
                        {{item.desc}}
                    </p>
                    <p>
                        <a class="btn btn-primary" href="#">Unduh Materi</a>
                    </p>
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>
    {% else %}
        <p>Tidak ada Materi</p>
    {% endif %}
</div>