body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p.forgot-password{
  margin-top: 10px;
}

.block-content{
  margin-top: 20px;
}

.head-logo{
  width: 50%;
}

.text-head{
  text-align: center;
}
.head-bar{
  height: 90px;
  margin-top: -24px;
  margin-bottom: 26px;
}

.title-header{
  margin-right: auto;
  margin-left: auto;
}
/*ul.nav{
  font-size: 100px;
}*/