{% load static %}

<html>
    <head>
        <title>LMS</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_style %}{% endblock extra_style %}
    </head>
    <body>
        <div class="container">
        {% block layout %}
        {% endblock layout %}
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script scr="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extra_script %}{% endblock extra_script %}
    </body>
</html>