{% extends "base.html" %}


{% block layout %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% block side_left %}
            {% endblock side_left %}
        </div>
        <div class="col-md-6">
            {% block side_right %}
            {% endblock side_right %}            
        </div>
    </div>

{% endblock content %}
    
{% endblock layout %}