<div class="jumbotron">
    <h1>Learning management System</h1>
    <p class="lead">Selamat datang di Learning Management System SMA Negeri 3 Terpadu, selamat belajar dan selamat menggunkan LMS yang disediakan</p>
</div>

<div class="row marketing">
        <div class="col-lg-6">
          <h4>Tentang LMS</h4>
          <p>LMS merupakan aplikasi pembelajaran online yang membantu anda dalam belajar dan mengukur tinkat kemampuan anda dalam belajar melalui ujian yang diberikan oleh guru mata pelajaran bersangkutan</p>

          <h4>Pengumuman</h4>
          <p>Pengumuna adalah fitur yang diberikan untuk membantu siswa dalam melihat informasi yang diberikan oleh sekolah</p>

          <h4>Materi Pelajaran</h4>
          <p>Materi pelajaran adalah fitur yang berisi materi-materi pelajaran berdasarkan tingkat kelas. Materi akan di unggah oleh guru mata pelajaran yang bersangkutan</p>
        </div>

        <div class="col-lg-6">
          <h4>Ujian</h4>
          <p>Ujian merukan fitur utama yang dapat membantu anda dalah proses ujian secara online, ujian akan dibuat oleh guru mata pelajaran bersangkutan</p>

          <h4>Progres Ujian</h4>
          <p>Fitur ini berguna untuk melihat progres masing-masing siswa dalam mengerjakan ujian dari setiap mata pelajaran</p>

          <h4>Bantuan</h4>
          <p>Kalian bisa menghubungi tim admin LMS jika memerlukan bantuan teknis, melalui email admin.lms@smabudidaya.sch.id</p>
        </div>
      </div> 