{% extends "accounts/base.html" %}

{% block content %}
<div class="header">
    <form action="" class="form-signin" method="POST">
        {% csrf_token %}
        <h2>Pendaftaran</h2>
        {% if success %}
            <div class="alert alert-success" role="alert">{{success}}</div>
        {% endif %}
        <div class="form-group {% if username == 'fail' %}has-error{% endif %}">
          <label class="control-label">Username</label>
          <input type="text" class="form-control" value="{% if username != 'fail' %}{{username}}{% endif %}" name="username" placeholder="NIM atau NIK">
          {% if username == 'fail' %}
              <span id="helpBlock" class="help-block">NIM atau NIM harus di isi atau ID tidak ada dalam database</span>
          {% elif username_status %}
              <span id="helpBlock" class="help-block">NIM atau NIK sudah terdaftar</span>
          {% endif %}
        </div>

        <div class="form-group {% if email == 'fail' %}has-error{% endif %}">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" value="{% if email != 'fail' %}{{email}}{% endif %}" name="email" placeholder="Email">
          {% if email == 'fail' %}
              <span id="helpBlock" class="help-block">Email harus di isi atau format email salah</span>
          {% elif email_status %}
              <span id="helpBlock" class="help-block">Email sudah terdaftar</span>
          {% endif %}
        </div>

        <div class="form-group {% if password == 'fail' %}has-error{% endif %}">
          <label class="control-label">Kata Sandi</label>
          <input type="password" class="form-control" name="password" placeholder="Kata Sandi">
          {% if password == 'fail' %}
              <span id="helpBlock" class="help-block">Password harus di isi atau password kurang dari 6 karakter</span>
          {% endif %}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Daftar</button>
    </form>
</div>
{% endblock content %}