{% extends "accounts/base.html" %}


{% block content %}

<form action="" method="POST" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Masuk</h2>
    <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" class="required form-control" name="username" placeholder="NIM atau NIP">
    </div>

    <div class="form-group">
        <label class="control-label">Kata Sandi</label>
        <input type="password" class="required form-control" name"password" placeholder="Kata Sandi">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

{% endblock content %}